<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div [class]="gridClass()">
      @for (field of config().fields; track field.name) {
        <div class="form-field">
          @switch (field.type) {
            @case ('select') {
              <mat-form-field [appearance]="field.appearance || 'outline'" class="w-full">
                <mat-label>{{ field.label }}</mat-label>
                <mat-select [formControlName]="field.name">
                  @for (option of field.options; track option.value) {
                    <mat-option [value]="option.value">{{ option.label }}</mat-option>
                  }
                </mat-select>
                @if (field.hint) {
                  <mat-hint>{{ field.hint }}</mat-hint>
                }
                <mat-error>{{ getErrorMessage(field.name) }}</mat-error>
              </mat-form-field>
            }
            @case ('radio') {
              <mat-label>{{ field.label }}</mat-label>
              <mat-radio-group [formControlName]="field.name" class="radio-group">
                @for (option of field.options; track option.value) {
                  <mat-radio-button [value]="option.value">{{ option.label }}</mat-radio-button>
                }
              </mat-radio-group>
            }
            @case ('checkbox') {
              <mat-checkbox [formControlName]="field.name">
                {{ field.label }}
              </mat-checkbox>
            }
            @case ('textarea') {
              <mat-form-field [appearance]="field.appearance || 'outline'" class="w-full">
                <mat-label>{{ field.label }}</mat-label>
                <textarea
                  matInput
                  [formControlName]="field.name"
                  [placeholder]="field.placeholder || ''"
                ></textarea>
                @if (field.hint) {
                  <mat-hint>{{ field.hint }}</mat-hint>
                }
                <mat-error>{{ getErrorMessage(field.name) }}</mat-error>
              </mat-form-field>
            }
            @case ('date') {
              <mat-form-field [appearance]="field.appearance || 'outline'" class="w-full">
                <mat-label>{{ field.label }}</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker"
                  [formControlName]="field.name"
                  [placeholder]="field.placeholder || ''"
                >
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                @if (field.hint) {
                  <mat-hint>{{ field.hint }}</mat-hint>
                }
                <mat-error>{{ getErrorMessage(field.name) }}</mat-error>
              </mat-form-field>
            }
            @default {
              <mat-form-field [appearance]="field.appearance || 'outline'" class="w-full">
                <mat-label>{{ field.label }}</mat-label>
                @if (field.prefix) {
                  <mat-icon matPrefix>{{ field.prefix }}</mat-icon>
                }
                <input
                  matInput
                  [type]="field.type"
                  [formControlName]="field.name"
                  [placeholder]="field.placeholder || ''"
                >
                @if (field.suffix) {
                  <div class="text-suffix" matSuffix>{{ field.suffix }}</div>
                }
                @if (field.hint) {
                  <mat-hint>{{ field.hint }}</mat-hint>
                }
                <mat-error>{{ getErrorMessage(field.name) }}</mat-error>
              </mat-form-field>
            }
          }
        </div>
      }
    </div>

    <div class="button-group">
      @if (config().buttons.submit) {
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!form.valid || submitting()"
        >
          @if (submitting()) {
            <mat-spinner diameter="20" class="spinner"></mat-spinner>
          }
          {{ submitting() ? 'Submitting...' : 'Submit' }}
        </button>
      }
      @if (config().buttons.cancel) {
        <button
          mat-button
          type="button"
          (click)="onCancel()"
        >
          Cancel
        </button>
      }
      @if (config().buttons.close) {
        <button
          mat-button
          type="button"
          (click)="onClose()"
        >
          Close
        </button>
      }
      @if (config().buttons.done) {
        <button
          mat-raised-button
          color="accent"
          type="button"
          (click)="onDone()"
        >
          Done
        </button>
      }
      @for (button of config().buttons.custom; track button.label) {
        <button
          mat-raised-button
          [color]="button.color || 'primary'"
          type="button"
          (click)="onCustomAction(button.action)"
        >
          {{ button.label }}
        </button>
      }
    </div>
  </form>