// src/app/features/auth/login.scss
@use 'typography' as typography;

.login-container {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
}

.header {
    text-align: left;
    margin-bottom: 2rem;
    
    .welcome-title {
        @include typography.heading-welcome;
        margin-bottom: 1rem;
        color: #333;
    }
    
    .signin-subtitle {
        @include typography.subheading-signin;
        color: #666;
        margin: 0;
    }
}

.form-fields {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 24px;
    
    mat-form-field {
        width: 100%;
    }
}

.login-actions {
    margin-bottom: 16px;
    
    .signin-button {
        width: 100%;
        height: 53px;
        border-radius: 4px;
        padding: 10px 16px;
        background-color: #00A76F;
        color: white;
        
        span {
            @include typography.button-text;
        }
        
        &:hover {
            background-color: #00896A;
        }
    }
}

.spinner {
    margin-right: 8px;
}

.footer {
    display: flex;
    justify-content: flex-end;
    
    .forgot-password {
        @include typography.forgot-password-text;
        color: #FF5630;
        cursor: pointer;
        text-decoration: none;
        
        &:hover {
            text-decoration: underline;
        }
    }
}

::ng-deep {
    .mdc-text-field--outlined {
        --mdc-outlined-text-field-container-height: 56px;
    }
    
    .mat-mdc-form-field-subscript-wrapper {
        height: 18px;
    }
}

.row-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}