@use '@angular/material' as mat;

$compact-form-field: mat.define-theme(
  (
    density: (
      scale: -4
    )
  )
);

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$green-palette,
      tertiary: mat.$orange-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

:root{
  @include mat.form-field-density($compact-form-field)
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

